@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Inter:wght@300;400;500&display=swap");

:root {
  --bg-primary: #1f1b1b;
  --text-primary: #f3ece4;
  --text-muted: #d8cfc5;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

/* font family testing */
@font-face {
  font-family: "StoryType";
  src: url("/src/assets/fonts/StoryType.otf") format("opentype");
} /*sub text*/

@font-face {
  font-family: "Eleanor";
  src: url("/src/assets/fonts/Eleanor.otf") format("opentype");
} /*cursive main*/

@font-face {
  font-family: "Overthinking";
  src: url("/src/assets/fonts/Overthinking.otf") format("opentype");
}

@font-face {
  font-family: "BrittanySignature";
  src: url("/src/assets/fonts/BrittanySignature.otf") format("opentype");
}

@font-face {
  font-family: "Cervanttis";
  src: url("/src/assets/fonts/Cervanttis.otf") format("opentype");
}

@font-face {
  font-family: "Phenom";
  src: url("/src/assets/fonts/PhenomGrotesque-Medium.ttf") format("truetype");
} /*sub text*/
